  <a-box ng-click="visitHappy($event)" position="-3 .5 -2" look-at="#camera" rotation="90 90 90" geometry="primitive: box; width: 3; height: .75; depth: .1" material="src: url(../lib/images/textures/happy.png); color: #FFC65D;"></a-box>
    
  <a-box ng-click="visitEnergy($event)" position="-3 1.5 -2" look-at="#camera" rotation="90 90 90" geometry="primitive: box; width: 3; height: .75; depth: .1" material="src: url(../lib/images/textures/energy.png); color:#FFC65D">
  </a-box>
  
  <a-box ng-click="visit($event)" position="-3 2.5 -2" look-at="#camera" rotation="90 90 90" geometry="primitive: box; width: 3; height: .75; depth: .1" material="src: url(../lib/images/textures/relax.png); color:#FFC65D"></a-box>
  
  <a-box ng-click="visit($event)" position="-3 3.5 -2" look-at="#camera" rotation="90 90 90" geometry="primitive: box; width: 3; height: .75; depth: .1" material="src: url(../lib/images/textures/random.png); color:#FFC65D"></a-box>